@import '../../styles/generalStyles.scss';
@import './../../styles/colors.scss';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.addressBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.addressBook__newAddress  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    border-radius: 50px 50px 0px 0px;
    background-color: $yellow;
    box-shadow: $shadow;
    margin: 30px;


.newAddress-button {
    cursor: pointer;
}
input {
    width: 30%;
    margin: 10px;
    background-color: $kindOfYellow;

}

}

.address-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    background-color: $yellow;
    border-radius: 50px 50px 50px 50px;
    box-shadow: $shadow;
    margin: 15px;
    li {
        
    }
    input {
        background-color: $kindOfYellow;
        border-radius: 30px;
        padding: 5px;
    }
    .address-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}